# System Files
.DS_Store
Frontend/src/app/services/environment.service.ts
Backend/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
Frontend/src/app/services/environment.service.ts
Frontend/src/app/services/environment.service.ts
Frontend/src/app/env/env.ts
