<div class='panel panel-primary' style="text-align: left;">
  <div class='panel-heading'>
    OurSpace Users
  </div>
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th (click)="sortUsers('first_name')">First Name</th>
          <th (click)="sortUsers('last_name')">Last Name</th>
          <th (click)="sortUsers('email')">Email</th>
          <th (click)="sortUsers('status')">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let temp of loginService.allUser' (mouseenter)="highlight($event)" (mouseleave)="dehighlight($event)">
          <td>{{temp.first_name}}</td>
          <td>{{temp.last_name}}</td>
          <td>{{temp.email}}</td>
          <td>
            <button (click)="viewUser(temp.email)">View User</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>