

<mat-card class='center'> Register
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Enter your email" [(ngModel)]='email' >
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" [(ngModel)]='password' >
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Confirm Password" [(ngModel)]='confirm_password' >
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="First Name" [(ngModel)]='first_name' >
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Last Name" [(ngModel)]='last_name' >
    </mat-form-field>
    
      <button mat-raised-button color="primary" (click) = 'clickRegister()' >Register</button>
  </div>
</mat-card>