mat-card{
  margin-bottom: 15px;
}

.example-container {
    display: flex;
    flex-direction: column;
}

.example-container > * {
    width: 100%;
}

.center{
    margin: auto;
    margin-top: 5%;
    width: 50%;
}
  
textarea {
  resize: none;
}

mat-card{    
    border:none;    
}

.postData{
    background-color: white;
}

.profileWell{
    background-color: white;
}

div{
    border: none;
}

.pcontain{
    background-color: white;
}
.textbox {
    width: 80%;
}

.halfbox {
    width: 40%;
}
