.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .center{
    position: fixed;
    left: 20vw;
    top: 20vh;
    width: 60vw;
    height: 40vh;
  }
  