/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
    width: 100%;
    margin: 0;
    /* background: url('https://pbs.twimg.com/profile_images/653700295395016708/WjGTnKGQ_400x400.png'); */
    background: url('https://c1.staticflickr.com/1/698/23341712561_eeafb38fa5_b.jpg') no-repeat center center fixed;
        
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

.well{
    background-color: #AED6F1;
}

mat-card[_ngcontent-c4]{
    background: transparent;
    box-shadow: none !important;
}