<!DOCTYPE hibernate-configuration PUBLIC
       "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
       "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    <!-- JDBC API stuff -->
        <property name="hibernate.connection.username">OurSpaceDB</property>
        <property name="hibernate.connection.password">p4ssw0rd</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@wvudatabase.czc0zuhxihvw.us-east-1.rds.amazonaws.com:1521:orcl</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
    <!-- Additional Hibernate awesomeness -->
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        
        <property name="hibernate.hbm2ddl.auto">create</property>
        
<!--         create         drops all existing tables and adds your schema
        validate     just checks to make sure the schema is as expected
        update        it will not delete, only add to your schema
        none         well.... it means it won't do anything automatically -->
        <mapping class="data.model.Post"/>
        <mapping class="data.model.User"/>
        <mapping class="data.model.Comment"/>
        <!-- <mapping resource="Character.hbm.xml" /> -->
        
    </session-factory>
    
</hibernate-configuration>