<mat-card> Super Duper Cool Login Page
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Enter you username or email">
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Password">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Select a Stupid Option">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary">Submit</button>
  </div>
</mat-card>